  
body
 {
     background-color:skyblue;
 }
#center1
{
    width:15%;
    border-radius: 5px;
    background-color: white;
    color:black;
}
th, td {
  padding: 15px;
    
}
.content
{
    border-radius: 5px;
    background-color:white;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
}